.headerBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  > * {
    width: 100%;
  }
  .select {
    display: flex;
    align-items: center;
    flex: 1;
    label {
      width: 8rem;
    }
    > div {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .headerBox {
    > * {
      width: 50%;
    }
  }
}
