.search {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .searchBox {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 1rem;
    .searchInput {
      &:focus {
        outline: inherit;
      }
    }
  }
  .loading {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .searchResults {
    width: 80%;
    margin-bottom: 2rem;
    color: black;
    cursor: pointer;
    max-height: 50rem;
    overflow: auto;
    .searchItem {
      &:nth-child(odd) {
        background-color: #f3f8ff;
      }
      &:hover {
        background-color: #e2eeff;
      }
    }
  }
}
