/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: thin;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  background-color: #f3f8ff;
}
#root {
  width: 80%;
  margin: 0 auto;
}
